{% extends "base.html" %}

{% block extra_title %} - Deleted items{% endblock %}

{% block content %}

    <header>
        <nav class="navbar bg-offwhite">
            <div class="container-fluid">
                <a class="navbar-brand " href="{% url 'user_login' %}">LogiTrack</a>
                <ul class="nav">
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'user_login' %}">Inventory management</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'all_items' %}">All inventory</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'add_item' %}">Add item</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'user_logout' %}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center mt-5 mb-3">
                    Deleted items
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {% if items_deleted %}
                {% for del_item in items_deleted %}
                    <div class="col-12 col-md-5">
                        <div class="card m-2 mx-auto">
                            <!-- item summary -->
                            <div class="card-body p-3">
                                <h5 class="card-title">{{ del_item.item.friendly_name }}</h5>
                                {% if del_item.item.sku %}
                                    <h6 class="card-subtitle mb-2 text-muted">{{ del_item.item.sku }}</h6>
                                {% endif %}
                                <h6 class="card-subtitle mb-2 text-muted">{{ del_item.item.category.friendly_name }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">{{ del_item.item.location.friendly_name }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">{{ del_item.item.status.friendly_name }}</h6>
                                <p class="card-text">{{ del_item.item.description }}</p>
                            </div>
                            <hr class="text-danger mx-auto w-75 border-2 opacity-50">
                            <!-- Deleted reason -->
                            <div class="card-body p-3">
                                <h5 class="card-title">Deleted by: {{del_item.deleting_user}}</h5>
                                <p class="card-text">{{ del_item.message }}</p>
                                <a href="#" class="card-link btn m-2" 
                                aria-label="re-stock item" data-toggle="modal" data-target="#modal_restock_id_{{del_item.item.id}}">Re-Stock item</a>
                                <a href="#" class="card-link btn rounded bg-red m-2" 
                                aria-label="Delete item" data-toggle="modal" data-target="#modal_id_{{del_item.item.id}}">Final Deletion</a>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for deletion confirmation -->
                    <div class="modal fade border-danger" id="modal_id_{{del_item.item.id}}" tabindex="-1" 
                    aria-labelledby="modal_label_{{del_item.item.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-top-margin">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="modal_label_{{del_item.item.id}}">
                                        You are about to delete {{ del_item.item.friendly_name }}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        All the data will be lost!<br/>
                                        Please confirm ...
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" class="btn mr-2" data-dismiss="modal" aria-label="Close" role="button">Cancel</a>
                                        <a href="{% url 'final_deletion' del_item.item.id %}" class="card-link btn rounded bg-red ml-2 pt-2" 
                                        role="button" aria-label="Delete message">Final deletion</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for restock confirmation -->
                    <div class="modal fade border-danger" id="modal_restock_id_{{del_item.item.id}}" tabindex="-1" 
                    aria-labelledby="modal_restock_label_{{del_item.item.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-top-margin">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-danger" id="modal_restock_label_{{del_item.item.id}}">
                                        You are about to re-stock {{ del_item.item.friendly_name }}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Once re-stocked the item(s) will be part of the inventory.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" class="btn mr-2" data-dismiss="modal" aria-label="Close" role="button">Cancel</a>
                                        <a href="{% url 'restock_item' del_item.item.id %}" class="card-link btn rounded bg-red ml-2 pt-2" 
                                        role="button" aria-label="Re-Stock item">Re-stock item</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>
    
{% endblock %}
