{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Management{% endblock %}

{% block content %}

    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand " href="{% url 'user_login' %}">LogiTrack</a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'user_login' %}">Inventory management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_logout' %}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <h2 class="text-center mt-5 mb-3">
        Inventory Management
    </h2>
{% endblock %}
